/******STYLE********
    Dark Yellow: #0A0802
    Normal Yellow: #FFC238
    Light Yellow: #FFC951
    Blue: #033DB2
    Light Blue
****/

/*****General Alterations*************/
body{
	overflow-x: none;
	font-family: "Raleway", sans-serif !important;
	background-color: #0A0802;
}

h1, h3{
	color: #0A0802!important;
}

/*************THEATER**********/
body{
	overflow-x: none;
}
#theater{
    width: 100vw;
    max-width:100%;  /* added */
    height: 95vh;
	
	background: -webkit-linear-gradient(right, #0a0802, #ffc238);
	background: -moz-linear-gradient(right, #0a0802, #ffc238);
	background: -o-linear-gradient(right, #0a0802, #ffc238);
	background: linear-gradient(to left, #0a0802, #ffc238);
	
	background-size: 400% 400%;
	animation: Gradient 30s ease-in-out infinite;
}
#theater a{
	position: absolute;
	z-index: 4;
	right: 0; left: 0; bottom: 20vh;
	text-align: center;
	font-size: 40pt;
	color: white;
	display: inline-block;
	animation: Point 5s ease-in-out infinite;
    transition: all linear 0.2s;
}
#theater a:hover{
	color: #0A0802!important;
}
#frame{
    z-index: 3;
    position:absolute;
    top: 0; right: 0; left: 0; bottom: 20vh;
    text-align: center;
    width:60vw;
    height: 300px;
    margin: auto;
}
#frame img{
	width: 75%;
}
#frame p{
	font-size: 7vw;
	margin-top: 5px;
	display: inline 
}


/*************NAVBAR***************/
.navbar{
	transform: translateY(-100%);
	border-radius: 0px;
	border: none;
	background-color: #181711;
	font-family: "Raleway", sans-serif;
	color: white;
	font-size: 20pt;
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
	margin: 0px !important;
	position: absolute;
	right:0; left:0;
}
.collapse ul.navbar-nav>li>a {
    color: #FFC238;
    transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
}
.collapse ul.navbar-right>li>a {
    color: white !important;
}
.collapse ul.navbar-nav>li>a:hover {
    color: #FFC951 !important;
}

/*************About**********/
#about{
	background-color: #FFC238;
	width: 100vw;
	max-width: 100%;
	overflow: auto;
	padding-bottom: 50px;
	padding-left: 40px;
	padding-right: 40px;
}
#textAbout h1{
	text-align: center;
	font-size: 60pt;
	margin-top: 50px;
	margin-bottom: 50px;
}
#textAbout h3{
	font-size: 24pt;
	margin-bottom: 40px!important;
}
#textAbout b{
	color: #FFC238s!important;
}
#about img, .item img{
	border-radius: 50%;
	box-shadow: 0px 7px 37px 4px rgba(0,0,0,0.49);
}
#img1{
	width:50%;
	margin-top: 50px;
	display: block;
	margin-left: 20%;
	z-index:1;
}
#img2{
	width:40%;
	margin-top: -10%;
	margin-left: 40%;
	z-index: 3;
	position:absolute;
}
#img3{
	width:30%;
	margin-top: 20%;
	margin-left: 25%;
	z-index: 1;
}
/************Projetos**************/
#projetos{
	background-color: #0A0802;
	padding: 20px;
	width: 100vw;
	max-width: 100%;
}
#projetos ul{
	list-style-type: none;
	text-align: center;
}
#typeHolder{
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
}
#tipos{
	transform: translateX(0%);
	transition: linear 0.25s transform;
    -webkit-transition: linear 0.25s transform;
}
#tipos li{
	display: inline;
	font-size: 30pt;
	color: white;
	opacity: 0.5;
	margin-right: 50px;
}
#tipos li:hover{
	cursor: pointer;
}

#tipos .active{
	opacity: 1 !important;
	font-size: 50pt !important;
}
#detail{
	font-size: 18pt;
	color: white !important;
	text-align: center;
	margin-bottom: 50px;
	margin-top: -15px;
}
#detail a{
	color: #FFC951;
}
.owl-item{
	text-align: center;
}

a:link {
color: white;
text-decoration: none;
}
a:visited {
color: white;
text-decoration: none;
}
a:active {
color: white;
text-decoration: none;
}
a:hover {
color: white;
text-decoration: none;
}
.item: hover{
	cursor:pointer;
}

.item img{
	display: inline-block!important;
	width: 200px !important;
	filter: grayscale(80%);
	border: solid #FFC238 4px;
	transition: linear 0.25s all;
}
.item img:hover{
	filter: grayscale(0%);
	cursor: pointer;
}


/***************Contato*****/
#contato{
	background-color: #FFC238;
	padding-top: 20px; padding-bottom: 20px;
	text-align: center;
}
#contato h1{
	text-align: center;
}
#contato i{
  color: #0A0802;
  display: inline-block;
  font-size: 30pt;
  padding: 0.5em 0.6em;
  margin: 0px 10px 0px 10px;
  transition: 0.25s linear all;
}
#contato i:hover{
	color: white;
}

/***********Footer********/
#footer{
	background-color: #0A0802;
	height: 100px;
	text-align: center;
	padding-top: 20px;
}

/****ANIMATIONS*****/
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50%{
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@keyframes Point{
	0% {
		transform: translateY(-30%)
	}
	50%{
		transform: translateY(30%)
	}
	100% {
		transform: translateY(-30%)
	}
}

/************My Classes**********/
.invisible{
	opacity: 0;
}
.dark_yellow{
	color: #0A0802;
}
.normal_yellow{
	color: #FFC238;
}
.blue{
	color: #033DB2!important;
}

/*****RESPONSIVE****/
/*****tablet*******/
@media (max-width: 767px) {
	#theater{
		height: 125vw;
	}
	#frame{
		bottom: auto;
		top: 30vw;
	}
	#theater a{
		position: absolute;
		bottom:auto;
		top: 70vw;
		font-size:10vw;
	}
	#tipos .active{
		opacity: 1 !important;
		font-size: 30pt !important;
	}
	#contato h2{
		font-size: 20pt;
	}
	#detail{
		font-size: 15pt;
	}
}

@media (max-width: 375px) {
	#contato h2{
		font-size: 17pt;
	}	
}