body{
    background: url("../img/city.jpeg") no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
}
#darker{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
#name{
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: white;
}
#name i, h1{
    font-size: 40pt;
    line-height: 8pt;
}

#banner{
    margin: 50px;
    background-color: rgb(218, 38, 37);
    font-family: 'PT Serif', serif;
    border-radius: 30px;
    border: 4px solid rgb(253, 139, 6);
    box-shadow: 4px 6px 8px -2px rgba(0,0,0,0.75);
}
#inner-red{
    border-radius: 25px;
    border: 10px dotted white;
    height: 100%;
    width: 100%;
}
#inner-yellow{
    border-radius: 15px;
    border: 4px solid rgb(253, 139, 6);
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.75);
}
#banner h2{
    text-align: center;
    line-height: 5px;
}
#banner li{
    font-size: 30pt;
    margin-left: 30px;
}



#machine{
    background-color:black;
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    margin: auto;
    width: 100%;
    height: 200px;
    z-index: 5;
    text-align: center;
}
#top{
    background-color: brown;
    height: 75px;
    width: 100%;
    text-align: center;
    font-size: 40pt;
    font-family: 'PT Serif', serif;
    color: white;
}
#buttons{
    width: 50%;
    color: white;
}
#selection{
    width: 50px;
    height: 50px;
    background-color: blue;
    margin: 5px;
}
#go{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 10px;
    text-align: center;
    line-height: 0;
}
#go i{
    position: absolute;
    top: 5; bottom: 0; left: 0; right:0;
    margin: auto;
    font-size: 90px;
}


#ticket{
    display: none;
}

#footer{
    position: absolute;
    right: 0; left: 0; bottom: 10px; margin: auto;
    text-align: center;
    color: white;
    z-index: 999;
    font-family: 'Merriweather Sans', sans-serif;
}
#footer a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}


@media (max-width: 700px) {
    li{
        font-size: 15pt !important;
        margin-left: 10px !important;
    }
    #banner{
        margin: 5px !important;
        margin-top: 50px !important;
    }
    #name i, h1{
        font-size: 30pt;
        line-height: 8pt;
    }
}
