body{
    background-color: #69a39c;
    font-family: 'Open Sans', sans-serif;
}
a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
#display{
    background-color: white;
    height: 100px;
    text-align: right;
}
#acc{
    font-size: 30pt;
    margin-right: 20px;
    color: black;
}
#result{
    font-size: 20pt;
    margin-right: 20px;
    color: grey;
}
#calculator{
 position:absolute;
 height: 500px;
 width: 400px;
 top: 0; bottom:0; left:0; right:0;
 margin: auto;
 background-color: #9a4456;
 color: white;
 box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
}
#numbers{
    height: 400px;
    padding: 0px;
}
#operations{
    padding: 0px;
}
.number{
    background-color: #9a4456;
    text-align: center;
    font-size: 30pt;
    line-height: 2.5;
    transition: all 2s;
    cursor:pointer;
}
.op{
    background-color: #723534;
    text-align: center;
    font-size: 30pt;
    transition: all 2s;
    line-height: 1.75;
    cursor:pointer;
}

#footer{
    position: absolute;
    right: 0; left: 0; bottom: 10px; margin: auto;
    text-align: center;
    color: white;
    z-index: 999;
    font-family: 'Merriweather Sans', sans-serif;
    width: 100vw;
}
#footer a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}


@media (max-width: 400px) {
    #calculator{
        box-shadow: none;
        width: 100%;
    }
}

@media (max-height: 550px) {
    #footer{
        display: none;
    }
}
