body{
    background-color: #ffbb22;

}
#back{
    height: 100vh;
}

#holder{
    display: table;
    position: absolute;
}
#quotes{
    font-family: 'Merriweather', serif;
    color: white;
    text-align: center;
    height: 100vh;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 0px;

}
#quotes p{
    display: inline;
    font-size: 40pt;
}
#quotes .wat{
    font-size: 40pt;
}

#social{
    margin-left: 15px;
    margin-top: 30px;
    float: left;
    text-align: left;
    font-size: 15pt;
    width: 100%;
}

#quoteButton{
     font-family: 'Droid Sans', serif;
     font-weight: bold;
     font-size: 16pt;
     float: right;
     margin-top: 3px;
     padding: 3px 6px 3px 6px;
     
     text-align: center;
     
     border-style: solid;
     border-color: white;
     border-radius: 20px;
     border-width: 4px;
}

#homer{
    width: 45vw;
    position: absolute;
    bottom: 0;
    right: 0;
}

.eye{
    height: 1.7vw;
    width: 1.7vw;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    
    transition: left 0.2s, top 0.2s;
}

#eye-right{
    top: 36%;    
    left: 62%;
}

#eye-left{
    top: 35%;    
    left: 48%;
}

.hover-button{
    transition: color 0.5s, border-color 0.5s;
}
a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
