#name{
  font-family: 'Poppinn', serif;
  font-weight: bold;
  font-size: 72pt;
  color: #44281d;
}
#quote{
  font-family: 'Dosis', sans-serif;
  font-size: 27pt;
  color: #e4a788;
}

#timeline{
  background-color: #97ce4c;
  color: white;
  padding: 30px;
}

#timeline-title{
 font-family: 'Arvo', serif;
 font-size: 40pt;
 color: white;
  margin-top: 25px;
}

#read_more{
  padding: 20px;
  font-family: 'Dosis', sans-serif;
}

.timeline-photos{
  border-radius: 50%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

@media (max-width: 600px) {
  #name{
    font-size: 42pt;
  }
  #quote{
    font-size: 20pt;
  }
  
  .topic{
    float: left;
  }
}