/***
    Blue:  #33ccff
    White: #fff
    Black: #333
****/
body{
    font-family: 'Hammersmith One', sans-serif;
    background-color: #33ccff;
    width: 100%;
}

.row{
    width: 100%;
}
#my_navigation{
    position: absolute;
    z-index: 3;
    right: 0;
    left: 0;
}
#backVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#darker{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
#breno{
    position: absolute;
    width: 35%;
    filter: drop-shadow(10px 0px 5px rgba(0, 0, 0, 0.5));
    bottom: 1px;
}

#info{
    text-align: center;
    color: white;
    position: absolute;
    right: 10%;
    top: 20vh;
    margin: auto;
}

#info h1{
    font-size: 50pt;
}
#roll{
    margin-top: 20px;
    color: #44c7f4;
}
.textRoll{
    display: inline-block
}
.inv{
    display: none;
}

#caller{
    margin-top: 150px;
}
.fa {
    color: #fff;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 10pt;
}

#callAction{
    margin: 30px;
    font-size: 30pt;
    border: solid 3px white;
    border-radius: 10pt;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}
#callAction:hover{
    color: #ff6633;
    border-color: #ff6633;
    cursor: pointer;
}

.fa-facebook:hover{
    color: #336699;
    border-color: #336699;
    cursor: pointer;
}
.fa-instagram:hover{
    color: #993399;
    border-color: #993399;
    cursor: pointer;
}
.dash{
    height: 3px;
    width: 50px;
    background: #44c7f4;
    display: inline-block;
    margin-bottom: 7pt;
}

/******NAVBAR*******/
.w3_navigation {
    background: #44c7f4;
    padding: 0em 0;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-nav {
        float: right;
        margin: 8px 0 0 0!important;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
     color: #202020;
}
.navbar-brand img{
    height: 200%;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
	color:#7ac143;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
     color: #111!important;
}
.navbar-nav > li > a {
    font-size: 20pt;
    line-height: 20pt;
    color: #fff!important;
}
#container{
    width: 100vw;
    padding: 0;
    margin: 0;
}





/***********Tratamentos*****************/
#filler{
    height: 100vh;
    width: 100px;
    /*background-color: red;*/
}

#tratamentos{
    background-color: #33ccff;
    text-align: center;
    color: white;
}
h2{
    font-size: 40pt;
}
hr {
    border: none;
    height: 5px;
    background-color: white;
}

.trat{
    transition: all 0.4s ease-in-out;
    margin-bottom: 20px;
}
.trat:hover .info{
    background-color: #fca183;

}
.trat:hover .circle{
    border-color: #ff6633;

}
.trat:hover{
    cursor: pointer;
    color: #ff6633;
}

.circle{
    transition: all 0.4s ease-in-out;
    border: dashed 4px white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.circle img{
    display: inline-block;
    margin-top: 30px;
    height: 75%;
}
.info{
    border: solid 3px #191919;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #191919;
    font-size: 30pt;
    line-height: 32pt;
    padding-right: 2pt;
    position: absolute;
    bottom: 0;
    right: 20%;
    background-color: white;
}

#darkAbout{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 500;
    top: 0; right: 0; left: 0; bottom: 0;
}
.exit{
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: white;
    border: solid 3px #11aadd;
    color: #11aadd;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    transition: all 0.4s ease-in-out;
}
.exit:hover{
    color: #006699;
    border-color: #006699;
    cursor: pointer;
}
.about{
    display: none;
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: white;
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    z-index: 1000;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.5);
    border: dashed 5px #11aadd;
    text-align: center;
    padding: 30pt;
}

.popImg{
    width: 60%;
    margin: 10px;
    border: solid 4px #33ccff;
}
/**************Galeria****************/
#galeria{
    margin-top: 100px;
    background-color: white;
    color: #333;
    text-align: center;
    padding-top: 20pt;
    padding-left: 60pt;
    padding-right: 60pt;
    padding-bottom: 30pt;
}

#galeria h2{
    font-size: 40pt;
}
#galeria hr {
    background-color: #333; /* Modern Browsers */
}

/*********Agendamento*************/
#agendamento{
    text-align: center;
    background-color: #33ccff;
    width: 100%;
    margin: 0;
    padding: 30px;
}
#agendamento h2{
    color: white;
}
#recife, #carpina{
    border: dashed 8px white;
    padding-top: 150px;
    transition: all 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    height: 400px;
}
#recife:hover, #carpina:hover{
    border: dashed 8px #ff6633;
    color: #ff6633;
    cursor: pointer;
}
#carpina{
    float: right;
}



/***********Footer***************/
#footer{
    height: 100px;
    background-color: #333;
    color: white;
    text-align: center;
    margin: 0;
}
#footer h3{
    line-height: 100px;
    margin: 0;
}
/*****alter css on devices*******/
@media (max-width: 1050px) {
    #breno{
        display: none;
    }
    #info{
        left: 0;
        right: 0;
        padding: 50px;
    }
    #caller{
        margin-top: 50px;
    }
}

@media (max-width: 775px) {
    #my_navigation{
        display: none;
    }
    .dash{
        display: none;
    }
    #footer h3{
        font-size: 10pt;
    }
}

@media (max-width: 650px) {
    #info{
        top: 0px;
        padding: 0px;
    }
    #recife, #carpina{
        padding-top: 10px;
        height: 200px;
    }
    #recife h2, #carpina h2{
        font-size: 15pt;
    }
    h2{
        font-size: 30pt;
    }
    .about{
        width: auto;
        height:auto;
        top: 20px; bottom: 20px; left: 20px; right: 20px;
    }
}